.zip-form{
    font: normal normal 16px/24px 'Roboto';
}

.zip{
    margin-left: 50px;
}

.f4{
    padding-right: 50px;
}

.p-zip{
    margin-left: 50px;
}

.zip-button{
    margin-left: 20px;
}

.input-zip{
    margin-left: 20px;
}