
.ft-container {
    flex: 1;    
}
.ft-ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem 
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
    
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color:rgb(0, 0, 0);
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    list-style: none;
    
}
.ft-legal-list li a{
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

/* one before the last child */
.ft-legal-list li:nth-last-child(3) {
    flex: 1;       /* same as flex-grow: 1; */
}
