.container{
  margin-left: 10%;
  /* background-color: red; */
  width: 80%;
}

#titleSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background-color: yellow; */
}

#title{
  /* background-color: green; */
  width: 65%;
  text-align: left;
}

.eventInfo{
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.eventPhoto{
  width: 35%;
}

.aboutInfo{
  width: 65%;
  line-height: 200%;
}

#aboutText{
  width: 70%;
}

#eventPage{
  font-family: 'Comfortaa', cursive;
}

#aboutImage{
  max-width: 80%;
  border-radius: 10px;
}

#caption{
  font-size: .75em;
}

.photoTime{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: .53;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}

.photoSection{
  margin-bottom: 3em;
}

#viewAll{
  margin-top: -1em;
  font-size: 1.25em;
}

#time{
  color: white;
}

.formElement{
  display: flex;
  flex-direction: row;
}

.inputs input, textarea{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
  width: 20em;
  height: 3em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}

.postComment{
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
}

.names{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: grey; */
}

.inputs{
  display: flex;
  flex-direction: column;
  /* background-color: orange; */
  justify-content: space-around;
  align-items: flex-start;
}

.button{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 2em;
}

#comment{
  width: 34em;
  height: 7em;
  margin-left: 1em;
}

#postBtn{
  width: 150px;
  height: 50px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  color: white;
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive;
}

.postComment{
  margin-bottom: 3em;
}

.commentContainer{
  display: flex;
  flex-direction: column;
}

.commentName{
  display: flex;
  flex-direction: row;
  margin-bottom: -1em;
}

#commentTime{
  margin-left: 5px;
  opacity: .5;
}

::placeholder{
  font-family: 'Comfortaa', cursive;
}

.upload{
  display: flex;
  align-items: center;
}

#upload{
  margin-left: 1em;
}